.botao {
  border-radius: 10px;
  background: #6278F7;
  width: 90px;
  height: 50px;
  color: #FFFFFF;
  font-size: 14px;
  border: none;
  margin-top: 20px;
}

.botao:hover {
  color: #95FFD4;
  cursor: pointer;
}