.campo_texto {
  margin: 24px 0
}

.campo_texto--label {
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin-bottom: 8px;
}

.campo_texto--input {
  box-sizing: border-box;
  width: 100%;
  border: none;
  outline: none;
  box-shadow: 10px 10px 30px 0px rgba(0, 0, 0, 0.06);
  background-color: #FFFFFF;
  font-size: 18px;
  padding: 20px;
  border-radius: 15px;
}